*{margin: 0; padding: 0; box-sizing: border-box;}
body{
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
}
.logo{
    z-index: 1000;
    top: 0;
    width: 101.5%;
    position: sticky;
}
.logo>.fixed{
    display: flex;
    padding: 10px 20px;
    margin: 10px 20px;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px);
    height: 100px;
    box-shadow:  0 2px 5px rgba(0, 0, 0, 0.1);
}
.logo>.fixed>a>img{
    width: 150px;
    height: 100px;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    text-align: center;
    border-radius: 10px;
    background: url("/Users/PC/Pictures/Screenshots/Ảnh chụp màn hình 2024-07-30 103502.png");
    background-size: cover;
}
.modal-content>input{
    width: 200px;
    height: 50px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/*======================nav========================*/
nav{
    margin: 0px 10px;

}
a{
    text-decoration: none;
    color: black;
}
nav>.menu{
    display: flex;
    font-size: larger;
}
nav>.menu>li{
    margin: 5px 20px;
    list-style: none;
}
nav>.menu>li>.dropdown{
    background-color: #fff;
    position: absolute;
    width: 120px;
    list-style: none;
    display: none;
    border: 1px solid black;
    margin-top: 3px;
    z-index: 3;
}
nav>.menu>li:hover>.dropdown{
    display: block;
}
nav>.menu>li>.dropdown>li{
    list-style: none;
    border-bottom: 1px solid black;
    align-items: center;
    top: 60px;
    height: 50px;
    margin-bottom: 5px;
    text-align: center;
}
nav>.menu>li>.dropdown>li:last-child{
    border-bottom: none;
}
nav>.menu>li>.dropdown>li:hover{
    background-color: rgb(192, 190, 190);
}
.log-in{
    width: 80px;
    border: 1px solid black;
    border-radius: 7px;
    margin-right: 5px;
    height: 30px;
    align-items: center;
}
.log-in>a{
    justify-content: center;
    color: black;
    text-decoration: none;
}
.sign-up{
    width: 63px;
    background-color: black;
    border: 1px solid black;
    border-radius: 7px;
    height: 30px;
    align-items: center;
}
.sign-up>a{
    text-decoration: none;
    color: white;
    justify-content: center;
}
.logo>.cart{
    margin-left: 20px;
    margin-bottom: 5px;
}
.logo>.cart>img{
    width: 30px;
    height: 30px;
}

/*=================Main-menu==================*/
.dropdown-menu{
    width: 100%;
    height: 50px;
    background-color: rgb(192, 190, 190);
}
.dropdown-menu>.menu2{
    display: flex;
    margin: 10px 15px;
    list-style: none;
    justify-content: center;
}
.dropdown-menu>.menu2>li{
    margin: 0px 35px;
    margin-top: 17px;
}
.dropdown-menu>.menu2>li>a{
    text-decoration: none;
    color: black;
}
.dropdown-menu>.menu2>li>.brand1{
    border-radius: 3%;
    background-color: #fff;
    position: absolute;
    list-style: none;
    width: 250px;
    margin-top: 10px;
    display: none;
    height: 250px;
    z-index: 3;
}
.dropdown-menu>.menu2>li:hover>.brand1{
    display: block;
}
.dropdown-menu>.menu2>li>.brand1>li{
    justify-content: center;
    border-bottom: 1px solid black;
    height: 25px;
}
.dropdown-menu>.menu2>li>.brand1>li:last-child{
    border-bottom: none;
}
.dropdown-menu>.menu2>li>.brand1>li:hover{
    background-color: rgb(192, 190, 190);
}
.dropdown-menu>.menu2>li>.brand1>li>a{
    color: black;
    text-decoration: none;
}
.dropdown-menu>.menu2>li>.brand1>li>.brand2{
    border-radius: 3%;
    background-color: #fff;
    list-style: none;
    width: 250px;
    margin-top: 10px;
    display: none;
    height: 250px;
}
.dropdown-menu>.menu2>li>.brand1>li:hover>.brand2{
    display: block;
}
.dropdown-menu>.menu2>li>.brand1>li>.brand2>li{
    border-bottom: 1px solid black;
    height: 25px;
}
.dropdown-menu>.menu2>li>.brand1>li>.brand2>li:last-child{
    border-bottom: none;
}
.dropdown-menu>.menu2>li>.brand1>li>.brand2>li:hover{
    background-color: rgb(192, 190, 190);
}

/*========================slide-images===================*/
.carousel-container {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    margin-top: 10px;
}
.carousel2 {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item2 {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-item2>img {
    width: 100%;
    height: 390px;
    display: block;
}
.carousel-container>.button2 {
    width: 45px;
    top: 250px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 35%;
    justify-items: center;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}
.carousel-container>.prev2{
    width: 45px;
    top: 250px;
    transform: translateY(+50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 35%;
    justify-items: center;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

.carousel-container.button2>.prev {
    left: 10px;
}

.carousel-container>.button2>.next {
    right: 10px;
}

.categories{
    background-color: #fff;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 35px 15px;
    justify-content: center;
    height: 120px;
}
.categories>div{
    margin: 5px 10px;
    background-color: #111111;
    border: 1px solid #fff;
    border-radius: 10px;
    height: 50px;
    transition: transform 0.5s ease;
}
.categories>div:hover{
    transform: scale(1.1);
}
.categories>div>a{
    justify-content: center;
    color: #fff;
    text-decoration: none;
    align-items: center;
}
.recently-viewed{
    margin: 15px 0px;
}
.recently-viewed>h2{
    font-size: 30px;
    animation: blink 0.5s linear infinite;
    width: 300px;
}  
    @keyframes blink {
        0% {
          color: red;
        }
        50% {
          color: blue;
        }
        100% {
          color: green;
        }
}
.slider-container{
    width: 100%;
}
.slider-container>h2{
    font-size: 25px;
    width: 350px;
    animation: blink 0.5s linear infinite;
}
.slider-container>.slider{
    margin-top: 10px;
    display: flex;
}
.slider-container>.slider>.slide>.news-details{
    width: 300px;
    height: 230px;
    display: block;
    border: 1px solid black;
    border-radius: 2%;
    margin: 10px 10px;
}
.slider-container>.slider>.slide.news-details>a{
    text-decoration: none;
}
.slider-container>.slider>.slide>.news-details>a>img{
    width: 299px;
    height: 165px;
}
.buttons{
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.buttons>button{
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}
.ad{
    margin-top: 10px;
    margin-bottom: 20px;
}
.ad>a>img{
    width: 100%;
    height: 580px;
}

/*=============products===============*/

.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin-left: 50px;
}

.line {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    width: 100%;
    align-content: center;
}

.product {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    background-color: #fff;
    transition: transform 0.3s ease;
}

.product img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product h3 {
    margin-top: 10px;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .product-container {
        padding: 0 16px;
    }
}

@media (max-width: 480px) {
    .product h3 {
        font-size: 0.9rem;
    }
}

/*=============Famous-brands==========*/
.famous-brands{
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 10px;
    height: 450px;
    background-color: #fff;
    align-items: center;
}
.famous-brands>.line1-1{
    display: flex;
    text-align: center;
    margin-bottom: 10px;
    color: #111111;
}
.famous-brands>.line1-1>.item{
    background-color: #fff;
    width: 220px;
    height: 180px;
    margin: 20px 15px;
}
.famous-brands>.line1-1>.item>a{
    text-decoration: none;
}
.famous-brands>.line1-1>.item>a>img{
    width: 220px;
    height: 140px;
}

.famous-brands>.line1-2{
    display: flex;
    text-align: center;
    margin-bottom: 10px;
    color: #111111;
}
.famous-brands>.line1-2>.item{
    background-color: #fff;
    width: 220px;
    height: 180px;
    margin: 20px 15px;
}
.famous-brands>.line1-2>.item>a{
    text-decoration: none;
}
.famous-brands>.line1-2>.item>a>img{
    width: 220px;
    height: 140px;
}

/*=============picture================*/
.picture>img{
    width: 102%;
    height: 450px;
    margin-bottom: 35px;
}
/*=============Adidas-shoes===========*/
.adidas-product{
    margin-top: 20px;
    display: flex;
    height: 600px;
    margin-bottom: 15px;
    color: #111111;

}
.adidas-product>a{
    margin: 10px 20px;
}
.adidas-product>a>img{
    height: 570px;
    width: 350px;
    transition: filter 0.5s ease;
    border-radius: 5px;
}
.adidas-product>a>img:hover{
    filter: grayscale(100%);
}

.adidas-product>.adidas-details-line1{
    margin-bottom: 30px;
}
.adidas-product>.adidas-details-line1>a{
    margin: 10px 10px;
    text-decoration: none;
    width: 280px;
    height: 210px;
}
.adidas-product>.adidas-details-line1>a>h3{
    width: 240px;
}
.adidas-product>.adidas-details-line1>a>img{
    width: 230px;
    height: 130px;
    transition: transform 0.5s ease;
    margin-bottom: 10px;
    border-radius: 10px;
}
.adidas-product>.adidas-details-line1>a>img:hover{
    transform: scale(1.1);
}

.adidas-product>.adidas-details-line2{
    margin-bottom: 20px;
}
.adidas-product>.adidas-details-line2>a{
    margin: 10px 10px;
    text-decoration: none;
    width: 280px;
    height: 210px;
}
.adidas-product>.adidas-details-line2>a>h3{
    width: 240px;
}
.adidas-product>.adidas-details-line2>a>img{
    width: 230px;
    height: 130px;
    transition: transform 0.5s ease;
    margin-bottom: 10px;
    border-radius: 10px;
}
.adidas-product>.adidas-details-line2>a>img:hover{
    transform: scale(1.1);
}

.adidas-product>.adidas-details-line3{
    margin-bottom: 20px;
}
.adidas-product>.adidas-details-line3>a{
    margin: 10px 10px;
    text-decoration: none;
    width: 280px;
    height: 210px;
}
.adidas-product>.adidas-details-line3>a>h3{
    width: 240px;
}
.adidas-product>.adidas-details-line3>a>img{
    width: 230px;
    height: 130px;
    transition: transform 0.5s ease;
    margin-bottom: 10px;
    border-radius: 10px;
}
.adidas-product>.adidas-details-line3>a>img:hover{
    transform: scale(1.1);
}

/*==============See-more==============*/
.see-more{
    border-bottom: 1px solid #111111;
   padding-bottom: 20px; 
    margin-bottom: 20px;
    text-align: center;
}

/*=============Autumn-product==========*/

.autumn-product{
    margin: 20px 0px;
    width: 90%;
    height: auto;
}
.autumn-product>.autumn-product-line1{
    display: flex;
    margin: 20px 10px;
}
.autumn-product>.autumn-product-line1>.product{
    width: 310px;
    height: 230px;
    margin: 20px 15px;
    border: 0.25px solid #cecccc;
    border-radius: 16px;
}
.autumn-product>.autumn-product-line1>.product>a{
    text-decoration: none;
}
.autumn-product>.autumn-product-line1>.product>a>img{
    width: 270px;
    height: 150px;
}
.autumn-product>.autumn-product-line1>.product>a>h4{
    font-size: 17px;    
}

.autumn-product>.autumn-product-line2{
    display: flex;
    margin: 20px 10px;
}
.autumn-product>.autumn-product-line2>.product{
    width: 310px;
    height: 240px;
    margin: 20px 15px;
    border: 0.25px solid #cecccc;
    border-radius: 16px;
}
.autumn-product>.autumn-product-line2>.product>a{
    text-decoration: none;
}
.autumn-product>.autumn-product-line2>.product>a>img{
    width: 270px;
    height: 150px;
}
.autumn-product>.autumn-product-line2>.product>a>h4{
    font-size: 17px;    
}

.autumn-product>.autumn-product-line3{
    display: flex;
    margin: 20px 10px;
}
.autumn-product>.autumn-product-line3>.product{
    width: 310px;
    height: 240px;
    margin: 20px 15px;
    border: 0.25px solid #cecccc;
    border-radius: 16px;
}
.autumn-product>.autumn-product-line3>.product>a{
    text-decoration: none;
    align-items: center;
}
.autumn-product>.autumn-product-line3>.product>a>img{
    width: 270px;
    height: 150px;
}
.autumn-product>.autumn-product-line3>.product>a>h4{
    font-size: 17px;    
}

/*=============News===================*/
.news{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 300px;
    margin: 20px 0px;
    overflow: hidden;
}
.news>.carousel-menu-news{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.news::-webkit-scrollbar{
    display: none;
}

.news>.carousel-menu-news>.item{
    min-width: 400px;
    height: 300px;
    margin: 0px 10px;
}

.news>.carousel-menu-news>.item>a{
    text-decoration: none;
}

.news>.carousel-menu-news>.item>a>img{
    width: 400px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.news>.arrow{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);;
    border: none;
    color: #fff;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}

.news>.left-arrow{
    left: 0;
}
.news>.right-arrow{
    right: 0;
}


/*=============Back-to-top============*/
#back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #7b7979;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: none; /* Ẩn nút mặc định */
    transition: all 0.3s ease;
    z-index: 2;
  }

  /* Thay đổi kiểu nút khi di chuột */
  #back-to-top:hover {
    background-color: #555;
  }
  
/*=============footer=================*/
.ft{
    display: flex;
    width: 1350px;
    height: 325px;
    border-top: 1px solid black;
    margin-top: 20px;
    padding-top: 15px;
    color: #111111;
}
.ft>.content{
    margin-left: 40px;
    width: 350px;
    margin-bottom: 15px;
}
.ft>.content>a>img{
    width: 110px;
    height: 95px;
}
.ft>.content>legend{
    border-bottom: 1px solid grey;
    width: 120px;
    margin-bottom: 12px;
    font-weight: bold;
}
.ft>.content>.sile1>a>img{
    width: 40px;
    height: 40px;
}
.ft>.content>.content1{
    margin-top: 35px;
}
.ft>.content>.content1>legend{
    border-bottom: 1px solid grey;
    width: 120px;
    margin-bottom: 12px;
    font-weight: bold;
}
.ft>.content>p{
    font-family: Arial, Helvetica, sans-serif;
    width: 150px;
}
